@import "./utils/vars.css";

button {
  min-width: 6rem;
  width: max-content;
  border: none;
  padding: 0.7rem;
  color: white;
  cursor: pointer;
}

.button--coral {
  background-color: var(--color-coral);
}

.button--coral:hover {
  background-color: var(--color-coral-hover);
  transition: 0.4s;
}

.button--gray {
  background-color: var(--color-gray);
  cursor: not-allowed;
}

.button--yellow {
  background-color: var(--color-yellow);
}

.button--yellow:hover {
  background-color: var(--color-yellow-hover);
  transition: 0.4s;
}

.button--turquoise {
  background-color: var(--color-turquoise);
}

.button--turquoise:hover {
  background-color: var(--color-turquoise-hover);
  transition: 0.4s;
}
