.page-container {
    background-color: #D8D6D6;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-card-title {
    align-self: center;
    font-weight: bold;
    margin-bottom: 1rem;
}