.filter-section-container {
    position: fixed;
    right: 0;
    top: 13.6%;
    height: 86.2%;
    width: 38%;
    background-color: var(--color-turquoise);
}

.filter-section-content {
    margin: 2rem;
}

.filter-section {
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 10px;
}