@import '../common/utils/vars.css';

.subheader-container {
    padding: 1rem;
    background-color: var(--color-gray-hover);
}

.subheader-container-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
}

.subheader-filter-icon-unchecked {
    cursor: pointer;
    color: var(--color-green);
}

.subheader-filter-icon-checked {
    cursor: pointer;
    color: var(--color-green-dark);
}