.welcome-page-container {
    text-align: center;
    padding: 10% 20%;
}

.welcome-text {
    font-size: 5rem;
    margin-top: 3rem;
}

.description-text span {
    font-weight: bold;
    font-size: 1.5rem;
}

.description-text {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.welcome-question {
    margin-bottom: .5rem;
    margin-top: 1rem;
}
